/* Reset default margin and padding */
body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
}

.menu {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline;
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 20px;
}

.search-bar {
    text-align: center;
    padding: 20px 0;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 10px;
}

.categories {
    text-align: center;
    padding: 20px 0;
}

.categories ul {
    list-style: none;
}

.categories li {
    display:inline;
    margin: 0 10px;
}

.categories a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.category {
    padding: 20px;
	text-align: center;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Add a gap between games */
    padding: 20px;
}

.game {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 400px;
    text-align: center; /* Center text content */
}

.game img {
    max-width: 100%;
}

.download-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
